body{
    background-image: url(wave.jpeg);
    background-size: cover;
}

h1{
    font: 600 1.8em/1 'Open Sans', sans-serif;
    font-weight: bold;

  }

  h2{
    font: 100 1em/1 'Open Sans', sans-serif;
    font-weight: light;

  }


#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    display: inline-block;
    visibility: hidden;


 }


/* .frame:hover{
    width: 500px;
    height: 500px;

} */

.frame {
    display: block;
    width:10em;
    height:10em;
    transition: all 0.6s ease-in-out;
    margin: 1em;
}


#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1100px;
}

#frame1{
    background-image: url(Img/11.png);
    background-size: cover;
}
#frame2{
    background-image: url(Img/9.png);
    background-size: cover;
}

#frame3{
    background-image: url(Img/1.png);
    background-size: cover;
}

#frame4{
    background-image: url(Img/3.png);
    background-size: cover;
}

#frame5{
    background-image: url(Img/4.png);
    background-size: cover;
}

#frame6{
    background-image: url(Img/5.png);
    background-size: cover;
}

#frame7{
    background-image: url(Img/6.png);
    background-size: cover;
}

.sub {
    opacity: 0 !important;
    display: None;
    transition: all 0.5s ease-in-out;

}

.sub.active{
    display: block;
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;

}
#video.active{
    transition: all 0.5s ease-in-out;
    width: 200px;
    height: 330px;

}
.frame.active {
    width: 300px;
    height: 300px;
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

#frame1.active{
    background-image: none;
    width: 200px;
    height: 330px;
}
#frame7.active {
    background-image: url(Img/7.png);
    background-size: cover;
    width: 200px;
    height: 330px;
    opacity: 1 !important;
}

#frame2.active {
    background-image: url(Img/10.png);
    background-size: cover;
    width: 600px;
    height: 400px;
    opacity: 1 !important;
}